<h1>Application Administration and Maintenance</h1>
<p><b><%= link_to 'Admin', shop_admin_path %></b><br>
This page.</p>

<p><b><%= link_to 'Counter', shop_counter_path %></b><br>
Provide the counter view: Where orders are placed.</p>

<p><b><%= link_to 'Brewster', shop_new_path %></b><br>
Provide the brewster view: Where orders are filed.</p>

<p><b><%= link_to 'Check', shop_check_path %></b><br>
Provide the Check view: Display drinks that are ordered or ready.</p>

<p><b><%= link_to 'Ready', shop_ready_path %></b><br>
Provide the Ready view: Display drinks that are ready.</p>

<p><b><%= link_to 'Manage Orders', shop_orders_path %></b><br>
Provide capability to view, edit and remove orders. This is not a general user function but can be use to rectify some mistakes.</p>

<p><b><%= link_to 'Manage People', people_path %></b><br>
Provide capability to change the name of a person.</p>

<p><b><%= link_to 'Manage Buttons', buttons_path %></b><br>
Provide capability to manage the drink buttons - their names and relationships.</p>

<p><b><%= link_to 'Manage Drinks', drinks_path %></b><br>
DEPRECIATED -   Provide capability to manage the drink names.</p>
