<p id="notice"><%= notice %></p>

<h1>Place your drink orders</h1>

<div class="displaybox floating-box">
    <h2 id=myPersonName>Name: </h2>
    <h2 id=myPersonId style="display: none;"></h2>
</div>    
<div class="displaybox floating-box">
    <h2 id=myDrinkName>Drink: </h2>
    <h2 id=myDrinkId style="display: none;"></h2>
</div>
<div class="floating-box-button">
    <div id="submitOrder" class="button" onclick="counterSubmitOrder();" style="display: none;">Submit this order</div>
    <hr class=seperator />
</div>

<div class="selectbox floating-box">
    <span class="myrowleft">
        <h2>Select person</h2>
    </span>
    <span class="myrowright">
        <div id="buttonAddPerson" class="hideme" onclick="counterAddPerson();">New Person</div>
    </span>
    <input type="text" id="personInput" autocomplete="off" onkeyup="counterFilterPeople()" placeholder="Shorten displayed names by keying in meaningful characters .." title="Type in characters to reduce name list">
    <div id="showAdd" onclick="counterAddPerson();" style="display: none;">Add this Person</div>
    <ul id="myPeopleUL">
        <% @people.each do |person| %>
            <% if person.lastdrinkid then %> 
                <li id=<%= person.id %> lastdrink="<%= person.lastdrinkid %>" onclick="counterSelectPerson(this);"><%= person.name %></li>
            <% else %>
                <li id=<%= person.id %> onclick="counterSelectPerson(this);"><%= person.name %></li>
            <% end %>
        <% end %>
    </ul>
</div>

<div class="selectbox floating-box">
    <h2>Select drink</h2>
    
    <input type="text" id="drinkInput" class="filter" autocomplete="off" onkeyup="counterDrinks()" placeholder="Filter drink list .." title="Type in characters to reduce drink list">
    
    <ul id="myDrinksUL">
        <% @drinks.each do |drink| %>
            <li id=<%= "d" + drink.id.to_s %> onclick="counterSelectDrink(this);"><%= drink.name %></li>
        <% end %>
    </ul>
</div>

<div id="submitOrder" class="button" onclick="counterSubmitOrder();" style="display: none;">Submit this order</div>







