<p id="notice"><%= notice %></p>
<!--<div class="light-header header">
    <i class="fas fa-walking"></i>
    <span id=myPersonName> </span>
    <span id=myPersonId style="display: none;"></span>
    <i class="fas fa-coffee ml-2"></i>
    <span id=myDrinkName> </span>
    <div id="submitOrder" class="button ml-2" onclick="counterSubmitOrder();" style="display: none;">
        Submit order
    </div>
</div>-->

<div class="left-container">
    <div class="search-container">
        <div class="input-group">
            <span class="search-icon fas fa-search"></span>
            <input class="search-bar" type="text" id="personInput" autocomplete="off" onkeyup="counterFilterPeople()" placeholder="Search" title="Type in characters to reduce name list">
        </div>
        <span id="buttonAddPerson" class="search-button hideme" onclick="counterAddPerson();">New Person</span>
        <div id="showAdd" onclick="counterAddPerson();" style="display: none;">Add this Person</div>
    </div>    
                <ul id="myPeopleUL">
        <% @people.each do |person| %>
            <% if person.lastdrink then %> 
                <li id=<%= person.id %> lastdrink="<%= person.lastdrink %>" onclick="counterSelectPerson(this);"><%= person.name %></li>
            <% else %>
                <li id=<%= person.id %> onclick="counterSelectPerson(this);"><%= person.name %></li>
            <% end %>
        <% end %>
    </ul>
</div><!--
--><div class="right-container">
    <div id="drinkarea">
        <div id="grpDrinks" class="drinks-column">
            <h2>Drink</h2>
<% 
            @buttons.each do |b|
                if b.group == "Drink" then
                    enablearray ="b" + b.enable.split(/ /).join(", b")
                    #byebug
 %>                 <button class="drinkbutton" data-enable="<%= enablearray %>"><%= b.name %></button>
<%              end
           end
%><!--
         --><button id="other" class="drinkbutton" data-enable="otherInput">Other</button>
        </div><!--
        --><div id="grpoptionsgroups" class="grpoptionsgroups">
<% 
            currentGroup = ""
            @buttons.each do |b|
                if b.group != "Drink" then
                    if b.group != currentGroup then
                        if currentGroup != "" then
%>
                            </div>
<%
                        end
                        currentGroup = b.group
%><!--
                        --><div id="grpoptions" class="grpoptionsbutton">
                            <h2><%= b.group %></h2>
<%
                    end
%>
                    <button id="<%= "b" + b.id.to_s %>" class="optionsbutton"><%= b.name %></button>
<%
                end
%>
<%
           end
           if currentGroup != "" then
%>
             </div><!--
             
--><%
           end
%><!--
           --><div id="grpoptions" class="grpoptionsbutton">
               <h2>Other</h2>
               <input id="otherInput" class="optionsbutton" type="text" placeholder="Type in your drink description" title="Drink Description">
           </div>
        </div>
    </div>    
</div><!--
--><div class="far-right-container">
    <div class="flex">
      <i class="fas fa-hiking ml-1"></i>
        <span class="ml-2" id=myPersonName> </span> 
        <span id=myPersonId style="display: none;"></span>
    </div>
    <div class="mt-2 flex">
        <i class="fas fa-coffee"></i>
        <span class="ml-2" id=myDrinkName> </span>
    </div>
    <div id="submitOrder" class="button submit-button mt-2" onclick="counterSubmitOrder();" style="display: none;">
        Submit order
    </div>
</div>

<div id="submitOrder" class="button" onclick="counterSubmitOrder();" style="display: none;">Submit this order</div>







