<p id="notice"><%= notice %></p>

<h1>Place your drink orders</h1>

<div class="displaybox floating-box">
    <h2 id=myPersonName>Name: </h2>
    <h2 id=myPersonId style="display: none;"></h2>
</div>
<div class="displaybox floating-box">
    <h2 id=myDrinkName>Drink: </h2>
</div>
<div class="floating-box-button">
    <div id="submitOrder" class="button" onclick="counterSubmitOrder();" style="display: none;">Submit this order</div>
    <hr class=seperator />
</div>

<div class="selectbox floating-box">
    <span class="myrowleft">
        <h2>Select person</h2>
    </span>
    <span class="myrowright">
        <div id="buttonAddPerson" class="hideme" onclick="counterAddPerson();">New Person</div>
    </span>
    <input type="text" id="personInput" autocomplete="off" onkeyup="counterFilterPeople()" placeholder="Shorten displayed names by keying in meaningful characters .." title="Type in characters to reduce name list">
    <div id="showAdd" onclick="counterAddPerson();" style="display: none;">Add this Person</div>
    <ul id="myPeopleUL">
        <% @people.each do |person| %>
            <% if person.lastdrink then %> 
                <li id=<%= person.id %> lastdrink="<%= person.lastdrink %>" onclick="counterSelectPerson(this);"><%= person.name %></li>
            <% else %>
                <li id=<%= person.id %> onclick="counterSelectPerson(this);"><%= person.name %></li>
            <% end %>
        <% end %>
    </ul>
</div>

<div class="selectbox floating-box">
    <h2>Select drink</h2>
    
    <div id="drinkarea" class="grpdrinkarea">
        <div id="grpDrinks" class="grpdrinkbutton">
            Drink
<% 
            @buttons.each do |b|
                if b.group == "Drink" then
                    enablearray ="b" + b.enable.split(/ /).join(", b")
                    #byebug
 %>                 <button class="drinkbutton" data-enable="<%= enablearray %>"><%= b.name %></button>
<%              end
           end
%>
          <button id="other" class="drinkbutton" data-enable="otherInput">Other</button>

        
        </div>
        <div id="grpoptionsgroups" class="grpoptionsgroups">
<% 
            currentGroup = ""
            @buttons.each do |b|
                if b.group != "Drink" then
                    if b.group != currentGroup then
                        if currentGroup != "" then
%>
                            </div>
<%
                        end
                        currentGroup = b.group
%>
                        <div id="grpoptions" class="grpoptionsbutton">
                            <span><%= b.group %></span>
<%
                    end
%>
                    <button id="<%= "b" + b.id.to_s %>" class="optionsbutton"><%= b.name %></button>
<%
                end
%>
<%
           end
           if currentGroup != "" then
%>
             </div>
             
<%
           end
%>
           <div id="grpoptions" class="grpoptionsbutton">
               Other
               <input id="otherInput" class="optionsbutton" type="text" placeholder="Type in your drink description" title="Drink Description">
           </div>

<!--
            <div id="grpoptions" class="grpoptionsbutton">
              Strength
              <button id="b11" class="optionsbutton">1/2</button>
              <button id="b12" class="optionsbutton">1/4</button>
            </div>
    
            <div id="grpoptions" class="grpoptionsbutton">
               Temperature
              <button id="b21" class="optionsbutton">extra hot</button>
              <button id="b22" class="optionsbutton">hot</button>
              <button id="b23" class="optionsbutton">warm</button>
              <button id="b24" class="optionsbutton">cold</button>
            </div>
    
            <div id="grpoptions" class="grpoptionsbutton">
              Blend
              <button id="b31" class="optionsbutton">Dilmah</button>
              <button id="b32" class="optionsbutton">English Breakfast</button>
              <button id="b33" class="optionsbutton">Decaf</button>
            </div>
    
            <div id="grpoptions" class="grpoptionsbutton">
              Misc
              <button id="b61" class="optionsbutton">Cold Milk</button>
              <button id="b62" class="optionsbutton">Sugar</button>
            </div>
            <div id="grpoptions" class="grpoptionsbutton">
              Other
              <input id="otherInput" class="optionsbutton" type="text" placeholder="Type in your drink description" title="Drink Description">
            </div>
-->
        </div>

    </div>    
</div>

<div id="submitOrder" class="button" onclick="counterSubmitOrder();" style="display: none;">Submit this order</div>







