<div class="button floating-button floating-button-left">
  <%= link_to 'Counter', shop_counter_path %><i class="fas fa-angle-right ml-2"></i><br>
  <%= link_to 'Admin', shop_admin_path %><i class="fas fa-angle-right ml-2"></i>
</div>

<div class="far-right-container">
  <h2 class="orange">New Orders</h2>
  <div id="sumorders">Test</div>
</div><!--
--><div class="two-thirds-container">
  <div id="statusSelect">
    <b>Show: </b><br>
    <% @statusList.each do |sl| %>
      <% if sl == "new" || sl == "ready" then %>
          <input id=<%= sl %> type="checkbox" checked onclick="selectStatusBoth();" >
          <label for="<%= sl %>"><fa-icon class="fas fa-surprise"></fa-icon><%= sl %></label>
      <% else %>
        <input id=<%= sl %> type="checkbox" unchecked onclick="selectStatusBoth();" > <%= sl %>
      <% end %>
    <% end %>
  </div>
  
  <div id="orders">
    <% @orders.each do |order| %>
      <% #byebug %>
      <div class="list-item <%= order.status %>" id=<%= order.id %>>
          <div class="list-item-content">
              <span style="display: none;"><%= order.id %></span>
              <div class="w-20">
                  <i class="fas fa-hiking"></i>
                  <span class="ml-2 counterstatusnew"><%= order.person.name %></span>
              </div>
              <div class="w-20">
                  <i class="fas fa-coffee"></i>
                  <span class="ml-2 counterstatusnew"><%= order.drink %></span>
              </div>
              <span style="display: none;"><%= order.quantity %></span>
              <% #byebug %>

              <div class="ml-auto selection-container">
                  <div id="<%= order.id %>_new" class="new-radio-button counterbuttonnew" onclick="orderUpdate(this);">
                      <i class="fas fa-surprise"></i>
                      <span>New</span>
                  </div>
                  <div id="<%= order.id %>_ready" class="ready-radio-button counterbuttonready" onclick="orderUpdate(this);">
                      <i class="fas fa-stopwatch"></i>
                      <span>Ready</span>
                  </div>
                  <div id="<%= order.id %>_done" class="done-radio-button counterbuttondone" onclick="orderUpdate(this);">
                      <i class="fas fa-check"></i>
                      <span>Done</span>
                  </div>
              </div>
              
          </div>
      </div>
    <% end %>
  </div>
</div>


<!--
<hr/>

<table>
  <thead>
    <tr>
      <th style="display: none;">Id</th>
      <th>Person</th>
      <th>Drink</th>
      <th style="display: none;">Quantity</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody id="orderstable">
    <% @orders.each do |order| %>
      <% #byebug %>
      <tr id=<%= 't' + order.id.to_s %>>
        <% if order.status == "new" then %>
          <td style="display: none;"><%= order.id %></td>
          <td class="counterstatusnew"><%= order.person.name %></td>
          <td class="counterstatusnew"><%= order.drink %></td>
          <td style="display: none;"><%= order.quantity %></td>
          <td class="counterstatusnew"><%= order.status %></td>
        <% elsif order.status == "ready" then %>
          <td style="display: none;"><%= order.id %></td>
          <td class="counterstatusready"><%= order.person.name %></td>
          <td class="counterstatusready"><%= order.drink %></td>
          <td style="display: none;"><%= order.quantity %></td>
          <td class="counterstatusready"><%= order.status %></td>
        <% else %>
          <td style="display: none;"><%= order.id %></td>
          <td class="counterstatusdone"><%= order.person.name %></td>
          <td class="counterstatusdone"><%= order.drink %></td>
          <td style="display: none;"><%= order.quantity %></td>
          <td class="counterstatusdone"><%= order.status %></td>
        <% end %>
        <td id="<%= 't' + order.id.to_s %>_new" class="counterbuttonnew" onclick="orderUpdate(this);">New</td>
        <td id="<%= 't' + order.id.to_s %>_ready" class="counterbuttonready" onclick="orderUpdate(this);">Ready</td>
        <td id="<%= 't' + order.id.to_s %>_done" class="counterbuttondone" onclick="orderUpdate(this);">Done</td>
      </tr>
    <% end %>
  </tbody>
</table>
-->
<!--
<br>
<div id="statusSelect">
  <b>Show: </b>
  <% @statusList.each do |sl| %>
    <% if sl == "new" || sl == "ready" then %>
      <input id=<%= sl %> type="checkbox" checked onclick="selectStatusBoth();" > <%= sl %>
    <% else %>
      <input id=<%= sl %> type="checkbox" unchecked onclick="selectStatusBoth();" > <%= sl %>
    <% end %>
  <% end %>
</div>
-->
<script type="text/javascript">
    selectStatusBoth();
</script>
