<h1 id="allorders" >Orders - Management Purposes Only</h1>

<div id="statusSelect">
  <% @statusList.each do |sl| %>
    <input id=<%= sl.status %> type="checkbox" checked onclick="selectStatusTable();" > <%= sl.status %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Person</th>
      <th>Drink</th>
      <th>Quantity</th>
      <th>Status</th>
      <th>To New</th>
      <th>To Ready</th>
      <th>To Done</th>
      <th>Day</th>
      <th>Created</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody id="orderstable">
    <% @orders.each do |order| %>
      <tr id=<%= 't' + order.id.to_s %>>
        <td><%= order.id %></td>
        <td><%= order.person.name %></td>
        <td><%= order.drink %></td>
        <td><%= order.quantity %></td>
        <td><%= order.status %></td>
        <td id="<%= 't' + order.id.to_s %>_new" onclick="orderUpdate(this);">To new</td>
        <td id="<%= 't' + order.id.to_s %>_ready" onclick="orderUpdate(this);">To ready</td>
        <td id="<%= 't' + order.id.to_s %>_done" onclick="orderUpdate(this);">To done</td>
        <td><%= order.day %></td>
        <td><%= order.created_at %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td onclick="destroyOrder(this);">Destroy</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orders for People', shop_counter_path %><br>
<%= link_to 'Orders Ready for Pickup', shop_ready_path %><br>
<%= link_to 'List all the people', people_path %>
<script type="text/javascript">
    selectStatus();
</script>
