<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @order.person %>
</p>

<p>
  <strong>Drink:</strong>
  <%= @order.drink %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Day:</strong>
  <%= @order.day %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
