<!DOCTYPE html>
<html>
  <head>
    <title>Drinks</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src = "https://www.google.com/cloudprint/client/cpgadget.js">
</script>
  </head>
  <% if @statusList == ["ready"] then %>
    <body id="setbackgroundimage">
  <% else %>
    <body>
      <button class="headerbutton"><%= link_to 'Counter', shop_counter_path %></button>
      <button class="headerbutton"><%= link_to 'Brewster', shop_new_path %></button>
      <button class="headerbutton"><%= link_to 'Pickup', shop_ready_path %></button>
      <button class="headerbutton"><%= link_to 'Details', shop_orders_path %></button>
      <button class="headerbutton"><%= link_to 'Buttons', buttons_path %></button>
  <% end %>
    <%= yield %>
  </body>
</html>
