<!DOCTYPE html>
<html>
  <head>
    <title>Drinks</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src = "https://www.google.com/cloudprint/client/cpgadget.js">
</script>
  </head>
  <% if @statusList == ["ready"] then %>
    <body id="setbackgroundimage">
  <% else %>
    <body>
  <% end %>
    <%= yield %>
  </body>
</html>
